* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    padding: 28px;
    background: linear-gradient(180deg, rgb(249 251 255) 0%, rgb(238 243 255) 100%);
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
}
